<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="LandingPage.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  </head>
  <body>

    <!--background image-->
    <div class="header-image">

    <!--Nav start-->
      <div class="nav">
        <input type="checkbox" id="nav-check" />
        <div class="nav-header">
          <div class="nav-title">Prime</div>
        </div>

          <div class="nav-links">
                  <a href="//github.io/jo_geek" target="_blank">About</a>
                  <a href="http://stackoverflow.com/users/4084003/" target="_blank"
                  >Careers</a
                  >
                  <a href="https://in.linkedin.com/in/jonesvinothjoseph" target="_blank"
                  >Contact<a/> 
          </div>   
      </div>

    <!--End of Navbar-->

    <!-- Landing page start-->
        <div class="Section1-heading">
          <h1><b>Creativity is Allowing Yourself to make Mistakes</b></h1>
              <p class="section1-text">A quick and simplified answer is that Lorem Ipsum refers to text that the DTP.
              </p>
        </div>
        <div class="section1-buttons">
          <button class="button1">GET STARTED</button>
          <button class="button2">LEARN MORE</button>
          </div>
            <div class="Section1-Footer"> 
              <div class="Section1-footerText">
                <div class="section1-card1">
                  <div class="icons1"><i class="far fa-user fa-2x"></i></div>
                  <h3>730+</h3>
                      <p class="footer-info"><b>Clients We Worked For</b></p>
                  </div>
                  <div class="section1-card2">
                  <div class="icons1"><i class="far fa-window-maximize fa-2x"></i></div>
                    <h3>30+</h3>
                      <p class="footer-info"><b>Responsive sites</b></p>
                </div>
                <div class="section1-card3">
                  <div class="icons1"><i class="fas fa-suitcase fa-2x"></i></div>
                  <h3>2300+</h3>
                    <p class="footer-info"><b>Projects Finished</b></p>
                </div>
              </div>
            </div>
        </div>
    <!-- Landing page end-->

    <!--Section 2 start-->
      <div class="section2-content">
        <!--Card 1-->
        <div>
            <div class="icons2"><i class="fas fa-fan fa-3x"></i></div>
            <h4>STUNNING SUPPORT</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              <br/>
              Vivamus massa tortor, semper non lacus semper, aliquet
              <br/> 
              ultrices mauris. 
              <!-- <a href="/">Read more</a> -->
              </p>
        </div>
    <!--Card 2-->
        <div>
          <div class="icons2"><i class="fas fa-globe fa-3x"></i></div>
          <h4>GLOBAL DISTRIBUTION</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <br>
            Vivamus massa tortor, semper non lacus semper, aliquet
             <br/> 
            ultrices mauris. </p>
              <a href="/">Read more</a>
        </div>
      <!--Card 3-->
        <div>
            <div class="icons2"><i class="fas fa-paper-plane fa-3x"></i></div>
            <h4>REALTIME TRACKING</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              <br/>
              Vivamus massa tortor, semper non lacus semper, aliquet ultrices
              <br/>
              mauris.
              <br/>
            </p>
            <a href="/">Read more</a>
          
        </div>
      <!--Card 4-->
        <div>
          <div class="icons2"><i class="far fa-clock fa-3x"></i></div>
          <h4>TIME MANAGEMENT</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            <br/>
            Vivamus massa tortor, semper non lacus semper, aliquet ultrices
            <br/>
          mauris. </p>
            <a href="/">Read more</a>
        </div>
      </div>
        <!-- end of section 2-->

        <!--Section 3 starts-->
        <div class="section3-content">
          <h2 class="section3-heading">Recent Articles</h2>
            <main class="grid">
              <article>
                <!--card 1-->
                <div class="text">
                  <h4>SKETCH AND LEARN
                    <br/>
                    NO-TIME
                  </h4>
                  <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
                  
                </div>
              </article>
              <!--card 2-->
              <article>
                <img src="https://i.postimg.cc/Mpv9dQcC/flower.jpg" alt="Flower">
              
              </article>
              <!--card 3-->
              <article>
                <div class="text">
                  <h3>THE BEST BROWNNIES IN
                    <br/>
                    THE WORLD</h3>
                  <p>Completely synergize resource taxing relationships via premier niche markets.</p>
                </div>
              </article>
              <!--card 4-->
              <article>
                <img src="https://i.postimg.cc/xTFRJ1st/pens.jpg" alt="pens">
              </article>
              <!--card 5-->
              <article>
                <div class="text">
                  <h3>LEARN HOW TO SHOOT
                    <br/>
                    AMAZING PICTURES
                  </h3>
                  <p>Holisticly predominate extensible testing procedures for reliable supply chains.</p>
                </div>
              </article>
              <!--card 6-->
              <article>
                <img src="https://i.postimg.cc/W3PSNY9V/brownies.jpg" alt="Sample photo">   
              </article>
            </main>
        </div>
    </div>
  </body>
</html>
