<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="LandingPage.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  </head>
  <body>

    <!--background image-->
    <div class="header-image">

    <!--Nav start-->
    <div class="nav">
      <input type="checkbox" id="nav-check" />
      <div class="nav-header">
        <div class="nav-title">Prime</div>
      </div>

        <div class="nav-links">
                <a href="//github.io/jo_geek" target="_blank">About</a>
                <a href="http://stackoverflow.com/users/4084003/" target="_blank"
                >Careers</a
                >
                <a href="https://in.linkedin.com/in/jonesvinothjoseph" target="_blank"
                >Contact<a/> 
        </div>   
    </div>

    <!--End of Navbar-->

    <!-- Landing page start-->
        <div class="Section1-heading">
          <h1><b>Creativity is Allowing Yourself to make Mistakes</b></h1>
              <p class="section1-text">A quick and simplified answer is that Lorem Ipsum refers to text that the DTP.
              </p>
        </div>
        <div class="section1-buttons">
          <button class="button1">GET STARTED</button>
          <button class="button2">LEARN MORE</button>
          </div>
            <div class="Section1-Footer"> 
              <div class="Section1-footerText">
                <div class="section1-card1">
                  <i class="far fa-user fa-2x"></i>
                  <h3>730+</h3>
                      <p><b>Clients We Worked For</b></p>
                  </div>
                  <div class="section1-card2">
                    <i class="far fa-window-maximize fa-2x"></i>
                    <h3>30+</h3>
                      <p><b>Responsive sites</b></p>
                </div>
                <div class="section1-card3">
                  <i class="fas fa-suitcase fa-2x"></i>
                  <h3>2300+</h3>
                    <p><b>Projects Finished</b></p>
                </div>
              </div>
            </div>
        </div>
    <!-- Landing page end-->

    <!--Section 2 start-->
    <div class="section2-content">
      <h4>STUNNING SUPPORT</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus massa tortor, semper non lacus semper, aliquet ultrices
      mauris. Cras quis nisi diam. Nulla finibus sapien justo, ultrices vestibulum elit porta quis. Nulla vel lacus a augue
      tincidunt laoreet.
    </p>
      <h4>GLOBAL DISTRIBUTION</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus massa tortor, semper non lacus semper, aliquet ultrices
      mauris. Cras quis nisi diam. Nulla finibus sapien justo, ultrices vestibulum elit porta quis. Nulla vel lacus a augue
      tincidunt laoreet.</p>
      <h4>REALTIME TRACKING</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus massa tortor, semper non lacus semper, aliquet ultrices
      mauris. Cras quis nisi diam. Nulla finibus sapien justo, ultrices vestibulum elit porta quis. Nulla vel lacus a augue
      tincidunt laoreet.
    </p>
      <h4>TIME MANAGEMENT</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus massa tortor, semper non lacus semper, aliquet ultrices
      mauris. Cras quis nisi diam. Nulla finibus sapien justo, ultrices vestibulum elit porta quis. Nulla vel lacus a augue
      tincidunt laoreet.</p>
    </div>
    </div>
  </body>
</html>
