* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  line-height: 3rem;
  font-family: "segoe ui";
}

.nav {
  font-family: "proxima_nova_rgbold", Helvetica;
  font-weight: normal;

  width: 100%;

  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}
.Section1-heading {
  font-family: "proxima_nova_rgbold", Helvetica;
  font-weight: normal;
  color: white;
  display: grid;
  justify-content: center;
  margin-left: 15rem;
}
/* Landing page background image */
.header-image {
  background-image: url(https://i.postimg.cc/8cryvP42/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
/*Landing Footer */
.Section1-Footer {
  font-family: "proxima_nova_rgbold", Helvetica;
  font-weight: normal;
  background-color: #201f1f;
  margin-top: 10rem;
  height: 18rem;
  margin-bottom: 3rem;
}

.section1-text {
  margin: auto;
}
.Section1-footerText {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  transform: translate(10px, 54px);
}
/* icons */
.icons1 {
  color: grey;
}

.icons2 {
  color: purple;
}
.footer-info {
  color: grey;
}
/*Buttons Section 1 */
.section1-buttons {
  display: flow-root;
  width: 50%;
  margin-top: 10rem;
  margin-left: 41%;
  margin-right: 25%;
  color: #ffffff;
}
.button1 {
  height: 3rem;
  border: rgb(151, 49, 151) solid;
  border-radius: 2rem;
  color: white;
  background-color: rgb(151, 49, 151);
}

.button2 {
  height: 3rem;
  border: white solid;
  border-radius: 2rem;
  background-color: transparent;
  color: white;
}
/* Section 2 */
.section2-content {
  font-family: "proxima_nova_rgbold", Helvetica;
  font-weight: normal;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
}

/* Section 3 cards */
.section3-content {
  font-family: "proxima_nova_rgbold", Helvetica;
  font-weight: normal;
  background-color: #e7e7e7;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
}

.section3-heading {
  transform: translate(44rem, 0rem);
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 60rem;
  transform: translate(20rem, 2rem);
}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid > article img {
  width: 20rem;
  height: 14rem;
}

.grid .text {
  padding: 20px;
  line-height: 30px;
  background-color: white;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
